
<h1>Results:</h1>
<ul>
  @* <li>@Model[0].GetPlayerName(): @Model[0].GetPlayerPlay()</li>
  <li>@Model[1].GetPlayerName(): @Model[1].GetPlayerPlay()</li> *@
  @* @foreach (var play in gamesList)
  {
    <li>@play.GetPlayerName(): @play.GetPlayerPlay()</li>
  } *@
</ul>
<h2>Game Result: @Model</h2>

<a href="/playerone">Play Another Round</a><br>
<a href="/">New Players</a>
