
<h1>Results:</h1>
<ul>
  @* <li>@Model[0].GetPlayerName(): @Model[0].GetPlayerPlay()</li>
  <li>@Model[1].GetPlayerName(): @Model[1].GetPlayerPlay()</li> *@
  @* @foreach (var play in gamesList)
  {
    <li>@play.GetPlayerName(): @play.GetPlayerPlay()</li>
  } *@
</ul>
<h3>Player One: @Model["p1Name"]</h3>
<h3>Player One Play: @Model["p1Play"]</h3>
<h3>Player Two: @Model["p2Name"]</h3>
<h3>Player Two Play: @Model["p2Play"]</h3>

<h2>Game Result: @Model["result"]</h2>

<a href="/playerone">Play Another Round</a><br>
<a href="/">New Players</a>
